.fly-ball{
	background-image: url(../img/header-banner.jpg);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: 300px;
	width: 100%;

	&__title{
		width: 300px;
		// position: absolute;
		text-align: center;
		margin: 0 auto;
		padding-top: 55px;
		// padding-bottom: 180px;
	}

	&__text{
		display: none;
	}

	&__btn{
		display: none;
	}
}