.page-header {
  color: $text-color;

  &__wrap{
  	height: 30px;
  	background-color: $dark-line;
  }

  &__logo{
  	color: $white;
  	vertical-align: middle;
  	padding-top: 2px;
  }

  &__nav{
  	display: none;
  }
}
