@include sprites($spritesheet-sprites);

.about-1{
	display: inline-block;
	margin-right: 25px;
	margin-bottom: -5px;
}

.about-2{
	display: inline-block;
	margin-right: 25px;
	margin-bottom: -10px;
}

.about-3{
	display: inline-block;
	margin-right: 25px;

}

.about-4{
	display: inline-block;
	margin-right: 20px;
}

.fly{
	display: inline-block;
	position: relative;
	margin-right: 20px;
	margin-bottom: -20px;
	z-index: 10;
}

.price-personal{
	position: absolute;
	top: 55px;
	left: 10px;
}

.price-phone{
	position: absolute;
	top: 53px;
	left: 10px;
}