@include sprites($spritesheet-sprites);

.about-1{
	display: inline-block;
	margin-right: 25px;
	margin-bottom: -5px;
}

.about-2{
	display: inline-block;
	margin-right: 25px;
	margin-bottom: -10px;
}

.about-3{
	display: inline-block;
	margin-right: 25px;

}

.about-4{
	display: inline-block;
	margin-right: 20px;
}